apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: dynamo-frontend
  namespace: dynamo-workload
spec:
  namespaceSelector:
    any: true
  podMetricsEndpoints:
  - interval: 15s
    path: /metrics
    port: http
  selector:
    matchLabels:
      nvidia.com/dynamo-component-type: frontend
      nvidia.com/metrics-enabled: "true"
