apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: dynamo-worker-main
  namespace: dynamo-system
spec:
  namespaceSelector:
    any: true
  podMetricsEndpoints:
  - interval: 5s
    path: /metrics
    targetPort: 9090
    relabelings:
    - action: replace
      sourceLabels:
      - __meta_kubernetes_pod_label_nvidia_com_dynamo_namespace
      targetLabel: dynamo_namespace
  selector:
    matchLabels:
      nvidia.com/dynamo-component-type: main
      nvidia.com/metrics-enabled: "true"
